{
    admin off
    persist_config off
}

:80 {
    handle /* {
        reverse_proxy http://desafio_autou.railway.internal:8000
    }

    reverse_proxy http://optimistic-passion.railway.internal:3000
}
