{
    admin off
    persist_config off
}

:80 {
    handle /api/* {
        reverse_proxy http://webapp-backend.railway.internal:8000
    }

    handle {
        reverse_proxy http://webapp-frontend.railway.internal:3000
    }
}
